<div class="row">
  <div class="col-md-3">
    <%= render "public/temp/genre_search", genres: @genres %>
  </div>
  <div class="col-md-9">
    <div class="d-flex justify-content-end top-image px-2 py-5 img-fluid">
      <div class="text-light bg-dark p-1 p-md-3" style="opacity: .6;">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </div>
    </div>
    <h2 class="my-3">新着商品</h2>
    <%= render "public/temp/items_index", items: @items %>
    <div class="text-right">
      <%= link_to "全ての商品を見る", items_path %>
    </div>
  </div>
</div>