<div class="row">
  <% items.each do |item| %>
    <% if item.is_active %>
      <div class="col-md-3 col-6">
        <%= link_to item_path(item) do %>
          <%= image_tag item.image, class:"img-fluid" %>
        <% end %>
        <p class="font-weight-bold"><%= item.name %></p>
        <p><%= number_to_currency(item.with_tax_price, unit: "￥", format: "%u%n") %></p>
      </div>
    <% end %>
  <% end %>
</div>