@use '~bootstrap/scss/bootstrap';

.top-image{
  background-image: url("../../assets/images/items/item-2.jpg");
  background-size: cover;
  background-position: center;  
}
.title{
  background-color: #ccc;
}
.pagination {
  justify-content: center;
}